<div class="">
    <!-- <span>{{inputValue |json}}</span> -->
    <form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="mb-3">
            <label for="" class="form-label">Name GV</label>
            <input  type="text" class="form-control" name="name" [(ngModel)]="inputValue.name" required minlength="5" #name="ngModel">
            <app-show-validate [field]="name" key="Tên"></app-show-validate>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">SDT GV</label>
            <input  type="text" class="form-control" name="sdt" [(ngModel)]="inputValue.sdt" required  #sdt="ngModel">
            <app-show-validate [field]="sdt" key="Tên"></app-show-validate>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Avatar </label>
            <input  type="text" class="form-control" name="avatar" [(ngModel)]="inputValue.avatar" required minlength="5" #avatar="ngModel">
            <app-show-validate [field]="avatar" key="Tên"></app-show-validate>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email GV</label>
            <input  type="email" class="form-control" name="email" [(ngModel)]="inputValue.email" required email #email="ngModel">
            <!-- <span>{{email.errors |json}}</span> -->
            <app-show-validate [field]="email" key="Email"></app-show-validate>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Age GV</label>
            <input type="number" class="form-control" name="age" [(ngModel)]="inputValue.age" min="1" max="100" required #age="ngModel" >
           <app-show-validate [field]="age" key="Tuổi"></app-show-validate>
        </div>
        <!-- <div class="mb-3">
            <label for="" class="form-label mx-auto p-2">Gender GV</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" >
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Avatar </label>
            <input type="text" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Status</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                <label class="form-check-label" for="inlineRadio1">Đã nghỉ</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" >
                <label class="form-check-label" for="inlineRadio2">Đang làm việc</label>
            </div>
        </div> -->
        <button type="submit"  [disabled] ="!userForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>