<div class="container">
    <header>
        <div class="relative bg-white">
          <div class=" px-4 py-5 sm:px-6">
              <div class="flex justify-between items-center border-b-2 border-gray-100 py-1 ">
              <nav class=" md:flex space-x-10">
                <div class="relative">
                    <a routerLink="/" class="text-base font-medium text-gray-500 hover:text-gray-900"> Trang chủ </a>
                </div>
                <a routerLink="/news" class="text-base font-medium text-gray-500 hover:text-gray-900"> Tin Tức </a>
                <a routerLink="/products" class="text-base font-medium text-gray-500 hover:text-gray-900"> Sản phẩm </a>
                <a routerLink="/about" class="text-base font-medium text-gray-500 hover:text-gray-900"> Thông tin </a>
                <a *ngIf="userData.user?.role === 1" routerLink="/admin" class="text-base font-medium text-gray-500 hover:text-gray-900"> Admin </a>
                <a routerLink="/cart" id="cart" class="relative h-18 w-16 text-base font-medium text-gray-500 hover:text-gray-900">
                  <img class="h-[30px] w-auto " src="https://res.cloudinary.com/namddph17471/image/upload/v1654678573/cart_c1exnm.png" alt="">
                  <app-cart class="absolute top-[-5px] right-4 h-6 w-6 rounded-full bg-red-600 text-white font-bold"></app-cart>
                </a>
              </nav>
              
                <div *ngIf="userData"  class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                  <ul class="flex  items-center px-3">
                    <li class="flex items-center ">Xin chào <span id="account_username" class=" font-medium block px-4 py-3 text-gray-500">{{userData.user.name}} </span></li>
                    <li type="button" id="logout" class="cursor-pointer ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-700" (click)="onLogout()" >Đăng Xuất</li>
                  </ul>
                </div>
                
                <div *ngIf="!userData" class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                  <a routerLink="/auth/dang-nhap" class="cursor-pointer whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Đăng Nhập </a>
                  <a routerLink="/auth/dang-ky" class="cursor-pointer ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Đăng ký </a>
                </div>
            
              </div>
            </div>
        </div>
    </header>
    <div class="banner h-[200px] rounded-md mx-[30px] mb-3">
    </div>
    <div>
        <!--là nơi những phầm component thuộc client sẽ đc render-->
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div>
            <div class="bg-[#272f54] px-auto my-[5px] mx-[30px] text-center">
                <p class="text-white py-4">ĐỖ Đức Nam</p>
            </div>
        </div>
    </footer>
</div>