<div class="container">
    <div class=" mx-auto py-10 px-14 sm:py-5 sm:px-4  lg:px-[45px]">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Sản Phẩm Mới</h2>
        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div  class="group relative">
                <div class="w-full min-h-80 shadow-xl bg-[#f7f7f7]  rounded-md overflow-hidden  lg:h-80 lg:aspect-none">
                    <div class="block-image">
                        
                        <div class="bk-left">
                            <span class="namehotrofm"></span>
                        </div>
                        <div class="thumb mt-10 ">
                            <a routerLink="/products" >
                                <img src="https://res.cloudinary.com/namddph17471/image/upload/v1654680355/d0c4287dd06cbeeb8bf381431767d6b1_ku7sks.jpg"  class="no-repeat center center;background-size:cover w-full h-full object-center object-cover " />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                    <h3 class="text-sm text-gray-700">
                        <a routerLink="/products" >Name</a>
                    </h3>
                    </div>
                    <p class="text-sm font-medium text-gray-900">Price</p>
                </div> 
                
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>